// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//////////////////// 
//Responsive Breakpoints
$bp-largest: 75em; // 1200px/16(default broswser size) = 75em 
$bp-large: 62.5em; // 1000px/ 16px
$bp-medium: 50em; // 800px/ 16px
$bp-small: 37.5em; // 600px


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}

html {
  box-sizing: border-box;
  // 10px(what we want for easy calculation) / 16px(browser default font size) = .625 or 62.5% 
  font-size: 62.5%; // 1rem = 10px;   
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;

}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content); // 6px values 
  //1 8rem column & 1 fr for start and end to align to center all 8 columns // 8 cloumns   //minmax: max should be 14rem but never less than the min content // helps with  vw adaptiveness                // minmax( min or no less than, but always or max)
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat( 8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
  // we also give the lines of each columns names for better possitioning // even during queries



  // this is the short hand version of grid-template-rows and columns
  // grid-template: 80vh min-content 40vw repeat(3, min-content) /  [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat( 8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); // 6px values 
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat( 8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem ) ;
    //100%vw minus 6rem of side bar and new min content for realtors
  }

}