.features {
  grid-column: center-start / center-end; // names stablished in base file
  
  margin: 15rem 0;

  // a grid inside of a grid element/column
  display: grid; // or flex is another option
  //"auto-full" create as many tracks as needed and stay between 250 px and 1 fractional unit // 3rx2col  then 2rowx3col then 1rowx6col
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  //grid-template-columns: repeat(3, 1fr); // here we are creating cloumns, 3 with 1 fractional unit each
  // grid-template-rows: auto auto; // not needed, it will happen on its own / implicitly 
  grid-gap: 6rem;
  align-items: start; // helps align the text in the individual feature boxes // overide the stretch

}

.feature {

  display: grid;
  // min content will adjust to any size variation wechange on the icons, the next will occupy the rest 
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem; // creating space between roms and cloums
  grid-column-gap: 2.5rem;
  
  

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2; // manually placing out icon on the grid // -1 works only with explicity grid // here it is implicit
    transform: translateY(-1.1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}