.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7  / full-end;
  padding: 3rem;


  display: grid;
  align-content: center; // y axis
  justify-content: center; // x axis, moves the gaps acoordingly
  grid-row-gap: 2rem;
  justify-items: center; // x axis, things inside the cell

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1; // fullstart / full end

  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content ; //     we already gave photo size and we dont want text to break
    grid-column-gap: 2rem; // only on the vertical 
    grid-row-gap: 5vh; // 5% of view port height // fuild movement 
    align-items: center; // y axis, itself 

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content) ; // we are reapeting this 3 times to fit all 3 realtors
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content ; // back to vertical realtors like initial desktop
    }
  }

  &__img {
    width: 7rem; 
    border-radius: 50%;
    display: block; // images best on block
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px; // moves it down 
  }

}