.sidebar {
  background-color: $color-primary;
  // here we use the name we defined on base to palce it in the grid
  grid: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  // we define how our side bar will look/ from top to bottom
}