.story {
  &__pictures {
    background-color: $color-primary;
    background-image:  linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);
    background-size: cover;
    grid-column: full-start / col-end 4;

    display: grid;
    //our grid will be 6x6
    grid-template-rows: repeat(6, 1fr); //we are creating 6 rows with = spacing
    grid-template-columns: repeat(6, 1fr);
    align-items: center; // this will align the item on y axis on its own cell (space)

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1; // fullstart / full end
      padding: 3rem;
    }
  }

  &__img--1 {
    width: 100%;
    grid-row: 2 / 6; // we specify the location of this image
    grid-column: 2 /  6;
    box-shadow: 0 2rem 5rem rgba(#000, .1);

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 /  5;
      grid-row: 1 / -1; // we specify the location of this image
    }
  }

  &__img--2 {
    width: 115%;
    grid-row: 4 / 6 ;
    grid-column: 4 / 7;
    z-index: 1;
    box-shadow: 0 2rem 5rem rgba(#000, .2);

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      grid-row: 1 / -1; // we specify the location of this image
    }
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;  // its bettwer to use view port width, it allows us to be more fuild with screen sizes


    // display: flex;
    // flex-direction: column;                              // <---- flex method 
    // justify-content: center;
    // align-items: flex-start;

    display: grid;
    align-content: center; //this aligns things on the y axis (cross axis)    //   <----- grid method
    justify-items: start; // here we set items to start from left to right 

    @media only screen and (max-width: $bp-medium) {
      grid-row: 5 / 6; // we manually changed the location, this above the pictures
      grid-column: 1 / -1;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}